[Unit]
Description=yocoin-rpc

[Service]
ExecStart=geth --mine --networkid 100824 --gcmode=archive --miner.gasprice=100000000000 --nodiscover --datadir node1 --unlock 0x4027236F2f3A22e6cDbad5a48236CE99cC17Cffc --password pw.tt --allow-insecure-unlock --miner.etherbase 0x4027236F2f3A22e6cDbad5a48236CE99cC17Cffc --port 30305 --authrpc.port 8553
Restart=always

[Install]
WantedBy=multi-user.target